<footer class="bg-main py-5">
  <div class="container">
    <div class="row text-center text-white g-4">
      <div class="col-12 col-md-4">
        <h3 class="text-uppercase mb-3">Location</h3>
        <p class="mb-0">2215 John Daniel Drive</p>
        <p class="mb-0">Clark, MO 65243</p>
      </div>

      <div class="col-12 col-md-4">
        <h3 class="text-uppercase mb-3">Around the Web</h3>
        <div class="d-flex justify-content-center gap-3">
          <a
            href="#"
            class="text-white text-decoration-none"
            aria-label="Facebook"
          >
            <i class="fa-brands fa-facebook fa-lg hover-icon"></i>
          </a>
          <a
            href="#"
            class="text-white text-decoration-none"
            aria-label="Twitter"
          >
            <i class="fa-brands fa-twitter fa-lg hover-icon"></i>
          </a>
          <a
            href="#"
            class="text-white text-decoration-none"
            aria-label="LinkedIn"
          >
            <i class="fa-brands fa-linkedin-in fa-lg hover-icon"></i>
          </a>
          <a
            href="#"
            class="text-white text-decoration-none"
            aria-label="Website"
          >
            <i class="fa-solid fa-globe fa-lg hover-icon"></i>
          </a>
        </div>
      </div>

      <!-- About Column -->
      <div class="col-12 col-md-4">
        <h3 class="text-uppercase mb-3">About Freelancer</h3>
        <p class="mb-0 text-capitalize" style="letter-spacing: 0.5px">
          Freelance is a free to use, licensed Bootstrap theme created by Joe
        </p>
      </div>
    </div>
  </div>

  <!-- Copyright Section -->
</footer>
<div class="bgg py-4">
  <div class="container text-center text-white">
    Copyright © Your Website 2023
  </div>
</div>
